<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="[+options.dir+]" lang="[+options.lang+]" xml:lang="[+options.lang+]">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="language" content="[+options.lang+]"/>
    <meta name="author" content="Bogdan Günther - Medianotions, www.medianotions.de"/>

    <title>[+lang.modulename+] [+options.moduleversion+]</title>

    <!-- loading Manager Theme -->
    <link rel="stylesheet" type="text/css" href="media/style/[+options.theme+]/style.css"/>

    <!-- loading Doc Finder CSS -->
    <link rel="stylesheet" type="text/css" href="../[+options.module_url+]css/docfinder.css"/>

    <!-- global settings -->
    <script type="text/javascript">
        var module_url = "../[+options.module_url+]";
    </script>

    <!-- Mootools JS Framework (http://www.mootools.net) -->
    <script src="../[+options.module_url+]js/mootools-1.12.js" type="text/javascript"></script>

    <!-- loading Manager JS functions -->
    <script src="media/script/mootools/moodx.js" type="text/javascript"></script>

    <!-- loading Doc Finder JS functions -->
    <script type="text/javascript" src="../[+options.module_url+]js/functions.js"></script>

    <!-- loading modified tab script -->
    <script type="text/javascript" src="../[+options.module_url+]js/tabpane.js"></script>

    <!-- loading sortable table script by phatfusion (http://www.phatfusion.net) -->
    <script type="text/javascript" src="../[+options.module_url+]js/sortableTable/sortableTable.js"></script>

    <!-- loading Vista-like Ajax Calendar script by R. Schoo (http://www.base86.com) -->
    <script type="text/javascript" src="../[+options.module_url+]js/vlaCal.v2/jslib/vlaCal-v2.js"></script>
    <link type="text/css" media="screen" href="../[+options.module_url+]js/vlaCal.v2/styles/vlaCal-v2.css" rel="stylesheet"/>
    <link type="text/css" media="screen" href="../[+options.module_url+]js/vlaCal.v2/styles/vlaCal-v2-apple_widget.css" rel="stylesheet"/>
</head>

<body>
<form action="index.php?a=112&amp;id=[+options.module_id+]" method="post" target="main" id="docfinder" name="docfinder">

<!-- headline -->
<h1>[+lang.modulename+] [+options.moduleversion+]</h1>

<div id="actions">
    <ul class="actionButtons">
        <li id="Button1"><a href="index.php?a=112&amp;id=[+options.module_id+]">
            <img src="media/style/[+options.theme+]/images/icons/refresh.png" alt="[+lang.reload+]"/>
            [+lang.reload+]
        </a></li>
        <li id="Button2"><a href="index.php?a=106">
            <img src="media/style/[+options.theme+]/images/icons/stop.png" alt="[+lang.close_button+]"/>
            [+lang.close_button+]
        </a></li>
    </ul>
</div>

<!-- search options content -->
<div class="sectionBody">

    [+options.modx_charset:ne=`UTF-8`:then=`<p class="warning">[+lang.warning_charset+]</p><br>`+]

    <!-- Tab page container -->
    <div class="tab-pane" id="tabPaneSearchOptions">
        <script type="text/javascript">
            var tpSearchOptions = new WebFXTabPane($('tabPaneSearchOptions'));
        </script>

        <!-- Tab pane search and replace -->
        <div class="tab-page" id="tpSearchOptions_searchAndReplace">

            <h2 class="tab">[+lang.search_replace+]</h2>

            <!-- string search line -->
            <p>
                <!-- Label and input field -->
                <label for="searchstring" class="text_label" id="search_field_text">[+lang.search_for+]:</label>
                <input type="text" class="text" name="searchstring" id="searchstring" value="[+search_options.search+]" onkeyup="triggerSubmitButtons();"/>

                <!-- help button search -->
                <img src="media/style/[+options.theme+]/images/icons/b02_trans.gif" onmouseover="this.src='media/style/[+options.theme+]/images/icons/b02.gif';" onmouseout="this.src='media/style/[+options.theme+]/images/icons/b02_trans.gif';" alt="[+lang.help_search+]" class="icon help" onclick="alert(this.alt);"/>

                <!-- search history -->
                <span id="search_history_box">[+history.search+]</span>

                <!-- hidden fields for form and session control -->
                <input type="hidden" name="checkform" id="checkform" value="load"/>
                <input type="hidden" name="update_session" id="update_session" value="0"/>
            </p>

            <!-- string replace -->
            <p class="replace">
                <!-- Label and input field -->
                <label for="replacestring" class="text_label">[+lang.replace_with+]:</label>
                <input type="text" class="text" name="replacestring" id="replacestring" value="[+search_options.replace+]"/>

                <!-- hidden field replace mode -->
                <input type="hidden" name="replace_mode" id="replace_mode" value=""/>

                <!-- help button replace -->
                <img src="media/style/[+options.theme+]/images/icons/b02_trans.gif" onmouseover="this.src='media/style/[+options.theme+]/images/icons/b02.gif';" onmouseout="this.src='media/style/[+options.theme+]/images/icons/b02_trans.gif';" alt="[+lang.help_replace+]" class="icon help" onclick="alert(this.alt);"/>

                <!-- replace history -->
                <span id="replace_history_box">[+history.replace+]</span>
            </p>

            <script type="text/javascript">
                tpSearchOptions.addTabPage($('tpSearchOptions_searchAndReplace'));
            </script>
        </div>

        <!-- Tab pane search and replace -->
        <div class="tab-page" id="tpSearchOptions_generalOptions">

            <h2 class="tab">[+lang.general_options+]</h2>

            <!-- search places -->
            <p class="options">
                <strong class="text_label">[+lang.search_places+]:</strong>
                <label><input type="checkbox" class="checkbox" name="search_place_selector" id="search_place_selector" [+search_options.search_place_selector+] onclick="checkboxSelector(this.id);" /><strong>[+lang.all_none+]</strong></label>
                [+search_places+]
            </p>

            <!-- search options -->
            <p class="options">
                <strong class="text_label">[+lang.search_options+]:</strong>
                <label><input type="checkbox" class="checkbox" name="case_sensitive" [+search_options.case_sensitive+] />[+lang.case_sensitive+]</label>
                <label><input type="checkbox" class="checkbox" name="regular_expression" id="regular_expression" [+search_options.regular_expression+] />[+lang.regular_expression+]</label>
                <label><input type="checkbox" class="checkbox" name="sortable_tables" id="sortable_tables" [+search_options.sortable_tables+] />[+lang.sortable_tables+]</label>

                <!-- help sortable tables -->
                <img src="media/style/[+options.theme+]/images/icons/b02_trans.gif" onmouseover="this.src='media/style/[+options.theme+]/images/icons/b02.gif';" onmouseout="this.src='media/style/[+options.theme+]/images/icons/b02_trans.gif';" alt="[+lang.help_sortable_tables+]" class="icon help" onclick="alert(this.alt);"/>
            </p>

            <script type="text/javascript">
                tpSearchOptions.addTabPage($('tpSearchOptions_generalOptions'));
            </script>
        </div>

        <!-- Tab pane document options -->
        <div class="tab-page" id="tpSearchOptions_DocumentOptions">

            <h2 class="tab">[+lang.document_options+]</h2>

            <!-- document parents -->
            <p class="parents">
                <label for="parents" class="text_label">[+lang.document_parents+]:</label>
                <input type="text" class="text" name="parents" id="parents" value="[+search_options.parents+]"/>

                <!-- help button -->
                <img src="media/style/[+options.theme+]/images/icons/b02_trans.gif" onmouseover="this.src='media/style/[+options.theme+]/images/icons/b02.gif';" onmouseout="this.src='media/style/[+options.theme+]/images/icons/b02_trans.gif';" alt="[+lang.help_parent_ids+]" class="icon help" onclick="alert(this.alt);"/>
            </p>

            <!-- search in -->
            <p class="options search_in">
                <strong class="text_label">[+lang.search_in+]:</strong>
                <label><input type="checkbox" class="checkbox" name="documents_search_in_selector" id="documents_search_in_selector" [+search_options.documents_search_in_selector+] onclick="checkboxSelector(this.id);" /><strong>[+lang.all_none+]</strong></label>
                <label><input type="checkbox" class="checkbox" id="df_id" name="df_id" [+search_options.id+] />[+lang.id+]</label>
                <label><input type="checkbox" class="checkbox" id="pagetitle" name="pagetitle" [+search_options.pagetitle+] />[+lang.pagetitle+]</label>
                <label><input type="checkbox" class="checkbox" id="longtitle" name="longtitle" [+search_options.longtitle+] />[+lang.longtitle+]</label>
                <label><input type="checkbox" class="checkbox" id="description" name="description" [+search_options.description+] />[+lang.description+]</label>
                <label><input type="checkbox" class="checkbox" id="alias" name="alias" [+search_options.alias+] />[+lang.alias+]</label>
                <label><input type="checkbox" class="checkbox" id="introtext" name="introtext" [+search_options.introtext+] />[+lang.introtext+]</label>
                <label><input type="checkbox" class="checkbox" id="menutitle" name="menutitle" [+search_options.menutitle+] />[+lang.menutitle+]</label>
                <label><input type="checkbox" class="checkbox" id="content" name="content" [+search_options.content+] />[+lang.content+]</label>
                <label><input type="checkbox" class="checkbox" id="tvs" name="tvs" [+search_options.tvs+] />[+lang.tvs+]</label>
            </p>

            <script type="text/javascript">
                tpSearchOptions.addTabPage($('tpSearchOptions_DocumentOptions'));
            </script>
        </div>

        <!-- Tab pane resource options -->
        <div class="tab-page" id="tpSearchOptions_ResourceOptions">

            <h2 class="tab">[+lang.resource_options+]</h2>

            <!-- search in -->
            <p class="options search_in">
                <strong class="text_label">[+lang.search_in+]:</strong>
                <label><input type="checkbox" class="checkbox" name="resources_search_in_selector" id="resources_search_in_selector" [+search_options.resources_search_in_selector+] onclick="checkboxSelector(this.id);" /><strong>[+lang.all_none+]</strong></label>
                <label><input type="checkbox" class="checkbox" id="resources_id" name="resources_id" [+search_options.resources_id+] />[+lang.id+]</label>
                <label><input type="checkbox" class="checkbox" id="resources_name" name="resources_name" [+search_options.resources_name+] />[+lang.name+]</label>
                <label><input type="checkbox" class="checkbox" id="resources_description" name="resources_description" [+search_options.resources_description+] />[+lang.description+]</label>
                <label><input type="checkbox" class="checkbox" id="resources_other" name="resources_other" [+search_options.resources_other+] />[+lang.other+]</label>
            </p>

            <script type="text/javascript">
                tpSearchOptions.addTabPage($('tpSearchOptions_ResourceOptions'));
            </script>
        </div>

        <!-- Tab pane date options -->
        <div class="tab-page" id="tpSearchOptions_DateOptions">

            <h2 class="tab">[+lang.date_options+]</h2>

            <!-- date range created on -->
            <p class="date_range createdon">
                <label for="createdon_start" class="text_label">[+lang.created_between+]:</label>
                <input type="text" class="text" name="createdon_start" id="createdon_start" value="[+search_options.createdon_start+]"/>
                <img src="media/style/[+options.theme+]/images/icons/delete.gif" alt="[+lang.clear_date+]" class="icon delete" onclick="$('createdon_start').value='';"/>
                <input type="text" class="text" name="createdon_end" id="createdon_end" value="[+search_options.createdon_end+]"/>
                <img src="media/style/[+options.theme+]/images/icons/delete.gif" alt="[+lang.clear_date+]" class="icon delete" onclick="$('createdon_end').value='';"/>

                <!-- help button replace -->
                <img src="media/style/[+options.theme+]/images/icons/b02_trans.gif" onmouseover="this.src='media/style/[+options.theme+]/images/icons/b02.gif';" onmouseout="this.src='media/style/[+options.theme+]/images/icons/b02_trans.gif';" alt="[+lang.help_creation_date_range+]" class="icon help" onclick="alert(this.alt);"/>
            </p>

            <!-- date range edited on -->
            <p class="date_range editedon">
                <label for="editedon_start" class="text_label">[+lang.edited_between+]:</label>
                <input type="text" class="text" name="editedon_start" id="editedon_start" value="[+search_options.editedon_start+]"/>
                <img src="media/style/[+options.theme+]/images/icons/delete.gif" alt="[+lang.clear_date+]" class="icon delete" onclick="$('editedon_start').value='';"/>
                <input type="text" class="text" name="editedon_end" id="editedon_end" value="[+search_options.editedon_end+]"/>
                <img src="media/style/[+options.theme+]/images/icons/delete.gif" alt="[+lang.clear_date+]" class="icon delete" onclick="$('editedon_end').value='';"/>

                <!-- help button replace -->
                <img src="media/style/[+options.theme+]/images/icons/b02_trans.gif" onmouseover="this.src='media/style/[+options.theme+]/images/icons/b02.gif';" onmouseout="this.src='media/style/[+options.theme+]/images/icons/b02_trans.gif';" alt="[+lang.help_edited_date_range+]" class="icon help" onclick="alert(this.alt);"/>
            </p>

            <script type="text/javascript">
                tpSearchOptions.addTabPage($('tpSearchOptions_DateOptions'));
            </script>
        </div>

    </div>

    <!-- search and replace buttons -->
    <div id="submit" class="submit_passive">

    <ul class="actionButtons">
        <!-- search submit button-->
        <li>
            <a href="index.php?a=112&amp;id=[+options.module_id+]" id="submit_search">
                <img src="media/style/[+options.theme+]/images/icons/save.png" class="go" alt="Click or press ENTER to start search."/>
                [+lang.search+]
                <input type="submit" value="[+lang.search+]"/>
            </a>
        </li>

        <!-- replace submit button-->
        <li>
            <a href="index.php?a=112&amp;id=[+options.module_id+]" id="submit_replace">
                <img src="media/style/[+options.theme+]/images/icons/save.png" class="replace" alt="Click or press ENTER to start search."/>
                Replace
            </a>
        </li>
    </ul>

    </div>

</div>

<!-- results part -->
<div class="section">
    <div class="sectionHeader">

        <!-- AJAX results -->
        [+lang.form_no_results+]
        [+lang.form_search_for+]
        [+lang.form_replace_with+]

        <!-- AJAX time info -->
        [+lang.form_time+]

        <!-- Number of entries selector -->
				<span id="entries">
					[+lang.number_of_entries+]:
					<label><input type="radio" class="radio" name="entries" value="50" [+search_options.entries_50+] />50</label>
					<label><input type="radio" class="radio" name="entries" value="100" [+search_options.entries_100+] />100</label>
					<label><input type="radio" class="radio" name="entries" value="All" [+search_options.entries_All+] />[+lang.all+]</label>
				</span>
    </div>
    <div class="sectionBody">

        <!-- AJAX load indicator -->
        <div id="ajax_load_indicator">
            <img src="../[+options.module_url+]images/ajax-loader.gif" width="220" height="19" alt="Ajax Loader" class="ajax_loader"/>
            <span>[+lang.searching+]</span>
            <a href="#" id="cancel_search" title="[+lang.cancel_search+]"><img src="media/style/[+options.theme+]/images/icons/delete.gif" alt="[+lang.cancel_search+]"/> [+lang.cancel_search+]</a>
        </div>

        <!-- AJAX results container -->
        <div id="results_container"><?php printResultTabs($search, $searchOptions, $theme, $searchPlacesArray); ?></div>
    </div>
</div>
</form>
</body>
</html>