.multitv { position: relative }

.multitv .heading { padding-left: 20px; clear: left }

.multitv .list { margin: 0; padding: 0; clear: left; position: relative }
.multitv .list li.element { position: relative; padding: 4px 4px 4px 20px; margin-bottom: 4px; border: 1px solid #e3e3e3; background: url('images/arrow_updown.png') no-repeat left center; list-style: none }
.multitv .list li.element { min-width: 450px; max-width: 100% }
.multitv .list li.element.hasthumb { }

.multitv .list li.element.inline { display: list-item }
.multitv .list li.element.inline a { display: block; float: left; padding: 3px; margin: 0 5px 0 0 }

.multitv .list li.element.single { padding: 10px; background: none; list-style: none }


.multitv .list li.element label { display: inline-block; width: 90px }
.multitv .list li.element select.inline { margin-right: 9px }
.multitv .list li.element a.copy, .multitv .list li.element a.remove { position: absolute; right: 22px; top: 7px; background: url('images/add.png') no-repeat left center; display: block; width: 16px; height: 16px; text-indent: -2000px; margin: 0; padding: 0 }
.multitv .list li.element a.remove { right: 4px; background-image: url('images/delete.png') }

.multitv .list li.element table.url { width: 300px; display: inline-block }
.multitv .list li.element table.url input[type="text"] { width: 221px !important }


.multitv .list li.element .inline, .multitv .heading .inline { display: block; float: left; width: 100px; padding: 3px; margin: 0 5px 0 0 }
.multitv .list li.element .inline[type="checkbox"] { margin-top: 7px }
.multitv .list li.element .inlinelabel { width: auto }

.multitv .list li.element .DatePicker { padding: 3px 3px 3px 24px }

.multitv .list li.element .tvimage { float: right; margin-right: 12px; width: 96px }
.multitv .list li.element .thumb { border: 1px solid #ccc !important }

.multitv .list li.element .tvimage.inline { float: left; margin-right: 5px; width: 26px }
.multitv .list li.element .tvimage.inline img { position: absolute; width: 26px; height: 26px; z-index: 1 }
.multitv .list li.element .tvimage.inline img:hover { width: auto; height: auto; z-index: 2 }

.multitv .hidden { display: none }

.multitv .tvedit, .multitv .tvclear, .multitv .tvpaste { float: left; margin-right: 10px }

.tvpasteform { width: 450px }
.tvpasteform .pastearea, .tvpasteform .buttons { width: 438px } 
.tvpasteform .legend { float: left; margin-left: 5px }
.tvpasteform .pastearea { width: 418px; height: 215px; overflow: hidden; border: 1px solid #e3e3e3; padding: 10px; margin: 0 auto 10px; clear: left }
.tvpasteform .radios { float: right; margin: 0 5px 5px 0 } 
.tvpasteform .radio { margin: 2px 5px 5px }
.tvpasteform .buttons { text-align: right; margin: 0 auto 0 }
.tvpasteform .buttons li { margin-right: 0; margin-left: 10px }
