/* the overlayed element */
div.overlay {
	
	/* dimensions after the growing animation finishes  */
	width:550px;
	height:420px;		
	
	/* initially overlay is hidden */
	display:none;
	
	/* some padding to layout nested elements nicely  */
	padding:55px;
    
    z-index: 999;
	background: url(white.png) no-repeat;
}

/* default close button positioned on upper right corner */
div.overlay div.close {
	background-image:url(close.png);
	position:absolute;
	right:5px;
	top:5px;
	cursor:pointer;
	height:35px;
	width:35px;
}


/* black */
div.overlay.black {
	background:url(transparent.png) no-repeat !important;
	color:#fff;
}

/* petrol */
div.overlay.petrol {
	background:url(petrol.png) no-repeat !important;
	color:#fff;
}

div.black h2, div.petrol h2 {
	color:#ddd;		
}
