<a name="jotmod[+jot.link.id+]"></a>
<div class="jot-list">
<b>Модерация:</b>
<ul>
<li>Сейчас вы видите <b>[+jot.moderation.view:select=`0=скрытые&1=опубликованные&2=все`+]</b> сообщения.</li>
[+jot.moderation.view:isnt=`0`:then=`
<li>Показать <a href="[+jot.link.view:esc+][+jot.querykey.view+]=0#jotmod[+jot.link.id+]">скрытые</a> сообщения ([+jot.moderation.unpublished+])</li>
`:strip+]
[+jot.moderation.view:isnt=`1`:then=`
<li>Показать <a href="[+jot.link.view:esc+][+jot.querykey.view+]=1#jotmod[+jot.link.id+]">опубликованные</a> сообщения ([+jot.moderation.published+])</li>
`:strip+]
[+jot.moderation.view:isnt=`2`:then=`
<li>Показать <a href="[+jot.link.view:esc+][+jot.querykey.view+]=2#jotmod[+jot.link.id+]">все</a> сообщения ([+jot.moderation.mixed+])</li>
`:strip+]
</ul>
</div>

