<div class="comment [+comment.createdby:isnt=`0`:then=`adminn`+]" style="padding-left:[+comment.depth+]0pt; ">
	<a name="jc[+jot.link.id+][+comment.id+]"></a><a name="[+comment.createdon+]"></a>
<div class="content">[+comment.content:wordwrap:esc:nl2br+]
<!---

[+comment.title:isnt=`new comment`:then=`
 <br /><br /><strong>Админ:</strong>[+comment.title:wordwrap:esc:nl2br+]
`+]
--->


 <div class="aboutpost" style="margin:5px 0 0 0;">
 [+comment.createdby:isnt=`0`:then=`<b>`+][+comment.createdby:userinfo=`fulname`:ifempty=`[+comment.custom.name:ifempty=`[+jot.guestname+]`:esc+]`+][+comment.createdby:isnt=`0`:then=`</b>`+]
<!--- [+comment.createdon:date=`%d.%m.%Y в %H.%M`+] --->
 
 </div>
 
 
 <!--[+jot.moderation.enabled:is=`1`:then=`

  
 
  <a href="[+jot.link.delete:esc+][+jot.querykey.id+]=[+comment.id+]#jotmod[+jot.link.id+]" onclick="return confirm('Действительно хотите удалить комментарий?')" title="Delete Comment"><img src="[(base_url)]manager/media/style/MODxCarbon/images/icons/event3.png" width="16" height="16" alt="Удалить" border="0" /></a>
  `:strip+]
  [+jot.user.canedit:is=`1`:and:if=`[+comment.createdby+]`:is=`[+jot.user.id+]`:or:if=`[+jot.moderation.enabled+]`:is=`1`:then=`
  <a href="[+jot.link.edit:esc+][+jot.querykey.id+]=[+comment.id+]#jf[+jot.link.id+]" onclick="return confirm('Вы хотите отредактировать этот комментарий?')" title="Отредактировать комментарий"><img src="[(base_url)]manager/media/style/MODxCarbon/images/icons/logging.gif" width="16" height="16" alt="Отредактировать комментарий" border="0" /></a>
  `:strip+] -->
   <div class="jot-mod">
			 [+jot.moderation.enabled:is=`1`:then=`
				<a href="[+jot.link.delete:esc+][+jot.querykey.id+]=[+comment.id+]#jotmod[+jot.link.id+]" onclick="return confirm('Are you sure you wish to delete this comment?')" title="Delete Comment"><img src="[(base_url)]assets/snippets/jot/templates/delete.gif" width="16" height="16" alt="Delete Comment" border="0" /></a>
				[+comment.published:is=`0`:then=`
				<a href="[+jot.link.publish:esc+][+jot.querykey.id+]=[+comment.id+]#jotmod[+jot.link.id+]" onclick="return confirm('Are you sure you wish to publish this comment?')" title="Publish Comment"><img src="[(base_url)]assets/snippets/jot/templates/publish.png" width="16" height="16" alt="Publish Comment" border="0" /></a>
				`+]
				[+comment.published:is=`1`:then=`
				<a href="[+jot.link.unpublish:esc+][+jot.querykey.id+]=[+comment.id+]#jotmod[+jot.link.id+]" onclick="return confirm('Are you sure you wish to unpublish this comment?')" title="Unpublish Comment"><img src="[(base_url)]assets/snippets/jot/templates/unpublish.png" width="16" height="16" alt="Unpublish Comment" border="0" /></a>
				`+]
			 `:strip+]
			 [+jot.user.canedit:is=`1`:and:if=`[+comment.createdby+]`:is=`[+jot.user.id+]`:or:if=`[+jot.moderation.enabled+]`:is=`1`:then=`
				 <a href="[+jot.link.edit:esc+][+jot.querykey.id+]=[+comment.id+]#jf[+jot.link.id+]" onclick="return confirm('Are you sure you wish to edit this comment?')" title="Edit Comment"><img src="[(base_url)]assets/snippets/jot/templates/edit.gif" width="16" height="16" alt="Edit Comment" border="0" /></a>
   		 `:strip+]
			 </div>	
  
  </div> 
[+comment.title:isnt=`new comment`:then=`
<div class="adminn">
[+comment.title:wordwrap:esc:nl2br+]
 </div>`+]
 


</div>
