[+jot.subscription.enabled:is=`1`:then=`
<div class="jot-list">
<ul>
	[+jot.subscription.status:is=`0`:then=`
	<li><a href="[+jot.link.subscribe:esc+]#jf[+jot.link.id+]" onclick="return confirm('Вы действительно хотите получать уведомления о комментариях на этот материал?');">Оповещать</a> о новых комментариях.</li>
	`+]

	[+jot.subscription.status:is=`1`:then=`
	<li><a href="[+jot.link.unsubscribe:esc+]#jf[+jot.link.id+]" onclick="return confirm('Вы действительно не хотите получать уведомления о комментариях на этот материал?');">Не оповещать</a> о новых комментариях.</li>
	`+]
</ul>
</div>
`:strip+]