html, body { margin: 0; padding: 0; width: 100%; height: 100% }
body { position: relative; background: #eeeeee url(images/misc/mainbg.png)  min-width:690px;}
body.fixed {
	position:fixed;
overflow: hidden;}
#body {overflow:hidden; -webkit-overflow-scrolling:touch;}
#mainMenu, #tree, #main { position: absolute }
#mainMenu iframe, #tree iframe, #main iframe, #mask_resizer { position: absolute; width: 100%; height: 100%;
 -webkit-overflow-scrolling:touch;}
#mainMenu { height: 0px; width: 100%; box-shadow: 0px 0px 10px #030303; z-index:1000; border-bottom: #555 1px solid;
	background: url("images/misc/bg_top.jpg") #23393C; }
#topMenu { padding-bottom: 50px;}
#tree { width: 0px; top: 0px; left: 0;  z-index: 1; 
 	overflow: hidden; padding-right: 25px;
	height:100%;
	/* 
	min-height: 100vh;
	bottom: 0; 
	*/
}
#tree iframe { z-index:2; opacity:0; padding-right:25px; box-sizing: border-box;
		height: 1px;
        min-height: 100%;
        *height: 100%;}
#tree:before { content:' '; position:absolute; top: 0px; right: 22px; bottom: -3000px; left: 0px;
	background: #e3efef url(images/misc/submenu-bg.png);
	z-index:1;	
	box-shadow: 5px 0px 20px rgba(0,0,0,.3);
}
#main {right: 0; bottom: 0;	left:0px; top: 0px;
	transition: left ease-in-out .3s,top ease-in-out .3s;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#tree.on {width: 250px;}
#tree.on iframe {opacity:1}
#mainMenu.on {height:100%; overflow-y: scroll; -webkit-overflow-scrolling:touch;}
#mask_resizer {
	z-index: -1;
}
.drag ~ #mask_resizer {	z-index: 10000;}
.drag ~ #tree #resizer {background: #D7F3F3 ;}
.drag ~ #main, .drag ~ #tree { transition: none;}

#resizer { height 100%; width: 0px; cursor: col-resize; z-index: 999;
	position: absolute;
	margin-left: -3px;
	right: 0px;
	/*border-left: 1px solid #C8D8E6;*/
	height: 100%;
}
#resizer .panel_toggl {
	margin-top: 10px;
	margin-left: -50px;
	padding-left: 20px;
	position: absolute;
}
.on #resizer .panel_toggl {
	margin-left: -35px;
	padding-left: 0px;
}
#resizer2 { width: 3px; z-index: 999;
	position: absolute;
	height: 10px;
	bottom: 0px;
	right: 10px;
}

#resizer2 .panel_toggl {
	margin-top: 0px;
	margin-left: -35px;
	margin-top: 20px;	
	transform: translateZ(0);-webkit-transform: translateZ(0);
}
.on #resizer2 .panel_toggl {
	margin-top: -23px;
	padding-top: 0px;
	z-index:1000;
	position: fixed;
	/*bottom: 10px;
	right: 10px;*/
	bottom: 10px;
	border: rgba(255,255,255, .3) 1px solid;
}
.ios .on #resizer2 .panel_toggl { position:absolute; bottom: 50px;}

.panel_toggl {
	display: block;
	cursor:pointer;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #555;
	text-align: center;
	position: absolute;
	z-index: 100;
}
.panel_toggl:before {
	content:'\2630';
	color: #fff;
	line-height: 30px;
	font-size: 20px;
}
.panel {
	transition: left ease-in-out .3s,top ease-in-out .3s, height ease-in-out .3s, width ease-in-out .3s;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
#mobile_width {width: 1024px; position: absolute;}
/*!!!  #mobile_width width and next media-query 'min-width' value must be equal to correct panels toggle in 1.php !!! */
@media screen and (min-width: 1025px){
	#resizer {width: 4px;}
	#hideMenu {background: url('/manager/media/style/D3X/images/icons/application_side_contract.png') 50% no-repeat;}
	#hideTopMenu  {background: url('/manager/media/style/D3X/images/icons/application_get.png') 50% 80% no-repeat;}
	#tree iframe {opacity:1}
	#tree.on ~ #main {left: 250px;}
	#mainMenu.on { height: 85px; overflow-y: hidden;}
	#mainMenu.on ~ #tree, #mainMenu.on ~ #main {top: 85px;}
	#topMenu { padding-bottom: 0px;}
	.panel_toggl {opacity: .7;
		transition: top ease-in-out .2s;}
	.panel_toggl:hover {opacity: 1;}
	.panel_toggl:before { content: '';}
	#resizer2 .panel_toggl {
		margin-left: -50px;
		margin-top: 0px;}
	.on #resizer2 .panel_toggl {
		position: absolute;
		bottom: auto;
		right: auto;
		border: none;
	}
	.on #resizer .panel_toggl { margin-left: -40px; padding-left: 5px;}
	#resizer .panel_toggl { margin-left: -31px; padding-left: 5px;}
}