.content a:link            {color:#003557;}
.content a:visited         {color:#75828b;}

.content p                 {line-height:1.6;text-align:justify;text-justify:inter-ideograph;}
.content h2                {border-radius:3px;font-size:1.2em;color:#fff;background-color:#65727b;padding:3px 5px;clear:both;}
.content h3                {border-left:8px solid;padding-left:8px;}

.content img.justifyleft   {margin-right:10px;float:left;}
.content img.justifyright  {margin-left:10px;float:right;}
.content div.justifyleft   {margin-right:10px;float:left;line-height:1.6;}
.content div.justifyright  {margin-left:10px;float:right;line-height:1.6;}

.content table             {border-collapse:collapse;width:100%;background-color:#fff;}
.content table td,
.content table th          {padding:8px;border:1px solid #ccc;vertical-align:top;}
.content table th          {white-space:nowrap;background-color:#eee;}
.content table.noborder    {width:auto;}
.content table.noborder td,
.content table.noborder th {border:none;padding:0;}

.content ul                {margin-left:2em;list-style-type:square;}
.content ul li             {margin-bottom:0.5em;}

.content input,
.content textarea,
.content select            {font:inherit;}

.content fieldset          {border:1px solid #ccc;padding:15px 30px;}
.content label             {display:block;}
.content label input,
.content select,
.content label textarea    {display:block;margin-top:8px;margin-bottom:15px;}
textarea#cfMessage         {width:500px;height:150px;}

.content input.text,
.content textarea          {
                            background-image:url(images/input_bg.png);
                            background-repeat:repeat-x;
                            border:1px solid #a7a6aa;
                            padding:3px;
                            width:350px;
                           }
.content input.button      {background-color:#6b7881;color:#fff;padding:5px;cursor:pointer;cursor:hand;border:1px solid #ccc;}

td.mceToolbar,
td.mceIframeContainer,
td.mceStatusbar           {border:none;}
