/* init **************/
html                        {font-family:Helvetica,sans-serif;font-size:100.01%;overflow-y:scroll;}
body                        {font-size:small;}
img, h1, ul, li             {margin:0;padding:0;}
img                         {border:none;vertical-align:bottom;}
input, select, textarea     {font:inherit;}
body                        {text-align:center;}
div.wrap                    {text-align:left;}

/* width *************/
div.wrap                    {width:798px;}

/* font color ********/
body                        {color:#444;}

div.navi ul li a:link,
div.navi ul li a:visited,
div.footer,
div.footer a:visited,
div.footer a:link           {color:#ffffff;}

/* background color **/
body,div.wrap               {background-color:#ffffff;}
div.navi                    {background-color:#8c969c;}
div.navi ul li.active       {background-color:#404d56;}
div.footer                  {background-color:#6b7881;}

/* background image **/
body                        {
                             background-image:url(images/bg.png);
                             background-repeat:repeat-x;
                            }
div.content                 {
                             background-image:url(images/content_bg.gif);
                             background-repeat:repeat-x;
                            }

/* block layout *******/
div.wrap                    {border:1px solid #ddd;}

div.wrap                    {
                             margin:10px auto;
                             box-shadow:0 0 15px #cdcdcd;
                             -moz-box-shadow:0 0 15px #cdcdcd;
                             -webkit-box-shadow:0 0 20px #e5e5e5;
                            }
div.navi ul                 {
                             overflow:hidden;zoom:1;
                             list-style-type:none;
                            }
div.navi ul li              {
                             float:left;
                             letter-spacing:1px;
                            }

div.navi ul li a            {
                              display:block;
                              padding: 8px;
                            }
div.navi ul li a:link,
div.navi ul li a:visited    {
                             text-decoration: none;
                            }

div.content                 {
                             overflow:hidden;zoom:1;
                             padding:20px;
                             border-top:1px solid #eee;
                            }

div.footer                  {
                             padding:30px;
                             text-align:center;
                            }
