/*
* Management module stylesheet
*--------------------------------------*/
body, html { height: 100%; }
body { margin: 0; padding: 0; color: #555; background-color: #f7f7f7; font-size: 12px; font-family: Arial,sans-serif; } 

form { margin: 0; padding: 0; }
fieldset { margin: 0; padding: 0; border: none; }

a { text-decoration: none; color: #777; font-weight: bold; }
a:hover { text-decoration: underline; }

h2 { margin: 0 0 12px 0; padding: 0; color: #545454; font-size: 15px; font-weight: bold; line-height: 1em; }
h2.second { margin: 0 0 15px 0; }
h3 { margin: 5px 0; padding: 0; color: #5a5a5a; font-size: 13px; font-weight: bold; text-decoration: underline; }
h4 { margin: 5px 0; padding: 0; color: #5a5a5a; font-size: 13px; font-weight: bold;}

hr { margin: 16px 0 14px 0; clear: both; border: 0; color: #dadada; background-color: #dadada; height: 1px; }

input, select, textarea { color: #444; background-color: #f6f6f6; border: 1px solid #d2d2d2; vertical-align: middle; }

#topnav { padding: 9px 13px 16px; background: #efefef url(../images/tabareabg.gif) repeat-x 0 23px; color: #555; font-size: 13px; font-weight: bold; text-align: left;
    height: 14px;
}
#topnav a { color: #555; } 
#view { float: right;
}
#content { padding: 10px 13px 15px;  }

#breadcrumbs { line-height: 1.5em; }

p.first { margin: 0; padding: 0; }

.links { color: #498dd6; }
.links a { color: #498dd6 !important; }

.input { float: left; }
.field { clear: left; padding: 4px 0; }
.dateSelector { padding: 0 0 8px 0; }
.submit { clear: left; padding: 10px 0 4px 0; }
.submit input { float: none !important; }

.documentsTable { width: 100%; margin: 0; 	border: 1px solid #e3e3e3;
}
.documentsTable th { padding: 6px 5px; background: #efefef url(../images/fade.gif) 0 1px; text-align: left; font-weight: bold; font-size: 11px; border-bottom: 1px solid #dadada; }
.documentsTable th a { color: #444; }
.documentsTable td { padding: 6px 5px 5px 5px; }
.documentsTable .stdRow { background-color: #fdfdfd; }
.documentsTable .altRow { background-color: #f3f3f3; }

.documentDetails { margin: 0 0 5px 0; }
.documentDetails td { padding: 3px 8px 3px 0; }

.uploadButton {
	display: block;
	width: 100px;
	margin: 0 0 5px 0;
	padding: 4px 5px 4px 28px;
	text-decoration: none;
	background: #f2f2f2 url(../images/page_white_add.png) no-repeat 5px center;
	color: #222;
	border: 1px solid #bbb;
}

.uploadButton:hover { background-color: #fafafa; text-decoration: none !important; }

#queueInfo { display: none; width: 280px; border: 1px solid #86c751; background-color: #daf4d2; margin: 7px 0 0 0; padding: 5px; }

#queueInfo span { font-weight: bold; }
#queueStatus { font-size: 0.90em; }

.queueProgress { border: 1px solid #c2cadf !important; background-color: #e5edff !important; }

#progressBar { width: 200px; display: block; margin: 3px 0; font-size: 0.7em; height: 4px; background: #ccc url(../images/progressbar.png) no-repeat -200px 0; }

#uploadList { margin: 7px 0 0 0; padding: 0; list-style: none; position: inherit; }
#uploadList li { float: left; display: table-cell; position: relative; z-index: 100; width: 145px; height: 145px; background-color: #000; margin: 5px 7px 2px 0; padding: 0; overflow: hidden; text-align: center; vertical-align: middle; line-height: 139px; cursor: pointer;}
#uploadList li img.thb { position: relative; z-index: 120; vertical-align: middle;
    height: 145px;
}

.clearFiles { clear: left; padding: 6px 0 0 0; height: 1px; overflow: hidden; }

#sortdesc { display: none; }

a.cancelButton { float: right; display: block; z-index: 150; height: 16px; width: 16px; background: transparent url(../images/cancel.png) no-repeat; text-indent: -9999px; }

.thbButtons { position: absolute; top: 0; right: 0; z-index: 150; }
.thbButtons a:focus { -moz-outline: none; }
.thbButtons a.edit { float: left; display: block; height: 17px; width: 16px; margin: 2px 6px 0 0; background: transparent url(../images/edit.png) no-repeat; text-indent: -9999px; }
.thbButtons a.delete { float: left; display: block; height: 17px; width: 16px; margin: 2px 3px 0 0; background: transparent url(../images/cancel.png) no-repeat; text-indent: -9999px; }

#beginsort { display: inline; }
#cmdsort { display: inline; }

p.thumbPreview {
    width: 220px;
    position: absolute;
    left: 40px;
    top: 40px;
    text-align: center;
}
p.thumbPreview img {
}
#overlay form {
    margin-left: 220px;
    overflow: hidden;
}
#overlay .imageupdater {
    margin-top: 50px;
}
#overlay .imageupdater #newimageUploader {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Super Awesome Buttons with CSS3 and RGBA */
.awesome, .awesome:visited {
    background: #222 url(../images/alert-overlay.png) repeat-x !important;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff !important;
    text-decoration: none !important;
    font-weight: bold;
    line-height: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #999;
    -webkit-box-shadow: 0 1px 3px #999;
    text-shadow: 0 -1px 1px #222;
    border: none !important;
    border-bottom: 1px solid #222;
    position: relative;
    cursor: pointer;
}
.awesome:hover { 
    background-color: #111; 
    color: #fff; 
}

.controls {
	padding: 2px 0 5px;
}

/* the popup element */
div.popup, div.popupclose {
	
	/* dimensions after the growing animation finishes  */
	width:350px;
	height:100px;		
	
	/* initially overlay is hidden */
	display:none;
	
	/* some padding to layout nested elements nicely  */
	padding:55px;
    
    z-index: 999;
	background: url(../images/white-small.png) no-repeat;
}

div.popup .close {
}

div.popupclose div.close {
	background-image:url(../js/overlay/close.png);
	position:absolute;
	right:5px;
	top:-5px;
	cursor:pointer;
	height:35px;
	width:35px;
}


div.popup .progress {
	display: none;
	padding: 15px 0;
}

#sortcontrols {}
#selectallcontrols {clear: left; margin-top: 5px;}
.thbSelect { position: absolute; top: 0; left: 0; z-index: 150; }
.thbSelect a { float: left; display: block; height: 21px; width: 20px; margin: 2px 6px 0 0; background: transparent url(../images/checkoff.png) no-repeat; text-indent: -9999px; }
.selected .thbSelect a { background: transparent url(../images/checkon.png) no-repeat; }

#actions-menu {float: right; margin: 7px 10px 0 10px;}
#actions-popup {z-index: 999; padding: 5px; background: #FDFDFD; border: 1px solid #E3E3E3; width: 300px; position: absolute; display: none;}
#actions-popup ul {margin: 10px 5px; padding: 0; list-style: none;}
#actions-popup ul li {margin: 5px 0;}
